* {
    margin: 0;
    padding: 0;
    overflow: visible;
}

.header-container {
    width: 100vw;
    margin: 0;
    position: sticky;
    box-sizing: border-box;
}

.mynavbar {
    width: auto;
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: Purple;

}

.mynavbar li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.search-container {
    position: relative;

}

.search-input {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 350px;
    background-color: lightgrey;
}

.fa-search {
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: 34px;
    color: gray;

}

.fa-user {
    font-size: 24px;
    color: white;
    position: absolute;
    right: -10px;
    width: 50px;
    height: 50px;
    padding: 10px;

}

input::placeholder {
    font-size: 1.5em;
    color: darkgray;
    font-weight: bolder;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 150px;
    background-color: rgba(119, 136, 153, 0.3);
    gap: 50px;
    padding: 50px;
}

.card {
    width: 100%;
    margin-left: 50px;
    text-align: center;
    box-shadow: 3px 3px 3px black;
    background-color: white;
    padding: 0 0 100px 0;
    border-radius: 25px;
    overflow: hidden;

}

.card h1 {
    margin: 30px 20px;
    font-size: 30px;
}

.card p {
    line-height: 35px;
    font-size: 30px;
}


.imageee img {
    width: 100%;
}

.book {
    text-decoration: none;
    border: 1px solid;
    background-color: purple;
    padding: 20px;
    color: white;

    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 20px;
    margin-top: 70px;

}
.upp
{
text-transform: capitalize;
}
@media (max-width:600px)
{
    .mynavbar
    {
        flex-direction: column;
    }
}
@media (max-width:600px)
{
    .card
    {
        grid-template-columns: 1fr;
    }
}