*
{
    margin: 0;
    padding: 0;
}

.header-container {
  width: 100%;
  margin: 0;
  /* position: relative; */
}

.mynavbar {
  width: 100%;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: Purple;
  height: 22vh;
}

.mynavbar li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}



.search-input {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 350px;
  background-color: lightgrey;
}

.fa-search {
  /* position: absolute; */
  /* right: 10px;
  top: 25%; */
  font-size: 34px;
  color: gray;

}

.fa-user {
  font-size: 24px;
  color: white;
  /* position: absolute; */
  /* right: -10px; */
  width: 50px;
  height: 50px;
  padding: 10px;

}

input::placeholder {
  font-size: 1.5em;
  color: darkgray;
  font-weight: bolder;
}

.section-container
{
  /* position: absolute; */
  display: flex;
  /* top: 175px; */
  border: 1px solid;
  width: 100%;
  height: 50%;
  max-height: 400px;
}
.sec1
{
  width: 70%;
   background-color: pink;
  padding: 5em;
  color: white;
}
.sec1 h1
{
  font-size: 50px;
  /* overflow-wrap: break-word; */
  width: 55%;
  margin-bottom: 40px;
}
.sec1 h2
{
  font-size: 31px;
  width: auto;
  margin-bottom: 30px;
  
}
.sec2
{
  width:30%;
}
.sec2 img
{
   width: 100%;
  height: 100%;
  object-fit: fill;
}
.req-quote button
{
  /* padding-left: 500px; */
  transform: translateX(10rem);
  padding: 10px 10px 10px 10px; /*top, right, bottom, left*/
  width: 19rem;
  font-size: 35px;
  color: whitesmoke;
  background-color: purple;
  border-radius: 15px;
}
.arrow
{
  font-size: 35px;
}

/* .gallery */
/* { */
  /* display: grid;
  grid-template-columns: repeat(4,2fr); */
  /* position: absolute;
  top: 500px; */
/* } */

.first-colum
{
  background-color: lightblue;
}






@media (max-width:600px)
{
    .mynavbar
    {
        flex-direction: column;
    }
}















.header-container {
  width: 100%;
  margin: 0;
  position: relative;
}

.mynavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: Purple;
  height: 22vh;
}

.mynavbar li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.search-container {
  position: relative;
  /* display: inline-block; */
  
}

.search-input {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 350px;
  background-color: lightgrey;
}

.fa-search {
  position: absolute;
  right: 10px;
  top: 25%;
  font-size: 34px;
  color: gray;

}

.fa-user {
  font-size: 24px;
  color: white;
  position: absolute;
  right: -10px;
  width: 50px;
  height: 50px;
  padding: 10px;

}

input::placeholder {
  font-size: 1.5em;
  color: darkgray;
  font-weight: bolder;
}

.section-container
{
  position: absolute;
  display: flex;
  top: 175px;
  border: 1px solid;
  width: 100%;
  height: 50%;
  max-height: 400px;
}
.sec1
{
  width: 70%;
   background-color: pink;
  padding: 5em;
  color: white;
}
.sec1 h1
{
  font-size: 50px;
  /* overflow-wrap: break-word; */
  width: 55%;
  margin-bottom: 40px;
}
.sec1 h2
{
  font-size: 31px;
  width: auto;
  margin-bottom: 30px;
  
}
.sec2
{
  width:30%;
}
.sec2 img
{
   width: 100%;
  height: 100%;
  object-fit: fill;
}
.req-quote button
{
  /* padding-left: 500px; */
  transform: translateX(10rem);
  padding: 10px 10px 10px 10px; /*top, right, bottom, left*/
  width: 19rem;
  font-size: 35px;
  color: whitesmoke;
  background-color: purple;
  border-radius: 15px;
}
.arrow
{
  font-size: 35px;
}

.gallery
{
  display: grid;
  grid-template-columns: repeat(4,2fr);
  /* position: absolute;
  top: 500px; */
}







